.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: Arial, sans-serif; */
  color: #555; /* Grey color shade */
}

.pagination-button {
  padding: 8px 16px;
  margin: 0 4px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2; /* Light grey background */
  cursor: pointer;
  /* font-weight: bold; */
}

.pagination-button:hover {
  background-color: #e0e0e0; /* Darker grey background on hover */
}

.pagination-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* ---------------------------------------------------------------------------- */
/* Basic styling for the select dropdown */
.select-dropdown {
  /* width: 5%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px; */

  padding: 5px 0px;
}

/* Styling for the options within the dropdown */
.select-dropdown option {
  padding: 8px;
  /* background-color: #fff; */
}

/* Styling when the dropdown is open */
.select-dropdown:focus {
  outline: none;
  /* border-color: #007bff; Change color as needed */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Change color as needed */
}

/* Styling for the dropdown arrow */
.select-dropdown::after {
  content: "\25BC"; /* Unicode character for the down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}
